@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: "Poppins";
}
.main {
    display: flex;
    width: 100%;
}
form {
    padding: 30px 0 50px 0;
    display: flex;
    width: 400px;
    gap: 5px;
    max-height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    flex-direction: column;
}
form label {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 14pt;
    font-weight: bold;
}
form input {
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12pt;
    padding: 10px 20px;
    margin: 0 11px;
    outline: none;
}
form button {
    margin: 0 10px;
    background-color: rgb(198, 198, 198);
    border-radius: 10px;
    font-size: 12pt;
    padding: 7px;
}
#window {
    flex: 1;
    width: 400px;
    margin: 2px 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.profile {
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    width: 600px;
    overflow: hidden;
    height: 100%;
    background-color: rgb(50, 50, 50);
}
.profile img {
    margin: auto 40px;
    border-radius: 10px;
    height: 140px;
}
.s-profile h1 {
    color: white;
    margin-top: 70px;
    padding: 0;
    margin-right: 20px;
    line-height: 0;
}
.s-profile p {
    color: gray;
    margin-left: 5px;
}
.git-window {
    animation: show 1s ease-in-out;
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* HTML: <div class="loader"></div> */
.con-loader {
    width: 100px;
    height: 100px;
    margin: auto;
}
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l4 2.5s infinite;
}
.loader:after {
    animation-delay: -1.25s;
}
@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }
    12.5% {
        inset: 0 35px 0 0;
    }
    25% {
        inset: 35px 35px 0 0;
    }
    37.5% {
        inset: 35px 0 0 0;
    }
    50% {
        inset: 35px 0 0 35px;
    }
    62.5% {
        inset: 0 0 0 35px;
    }
    75% {
        inset: 0 0 35px 35px;
    }
    87.5% {
        inset: 0 0 35px 0;
    }
    100% {
        inset: 0 35px 35px 0;
    }
}
